<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" id="main-title">
    <h1 style="float:left"><%= link_to "Projects/", projects_path, id: "project-index" %>
      <h1 id="project-title" style="float:right"><%= @project.title %></h1><br></br>
    </div>
  </div>

  <div class="container">
    <div class="row" id="project-presentation">
      <div class="col" id="proj-text">
        <div id="title-text"><h3><%= @project.title %></h3></div></br>
        <div id="fr-text"><%= @project.body_fr %></div></br>
        <div id="en-text"><%= @project.body_en %></div>
      </div>
      <div class="col" id="gallery-container">
        <div class="row">
          <% (0...@project.images.count).each do |image| %>
          <div class="imgSlider gallery" id="project-img-column">
            <%= link_to @project.images[image] do %>
            <%= image_tag(@project.images_thumbnail(image)) %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
