<!DOCTYPE html>
<html>
<head>
  <title>Laura Aubrée / Photographe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5d245e02b0.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>

  <%= render 'layouts/loader' %>  
  <%= render 'layouts/navbar' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
